<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/fonts/material-icon/css/material-icons.css" />
    <link rel="stylesheet" href="/fonts/Roboto/font.css" />
    <link rel="stylesheet" href="/css/checkbox.css" />
    <link rel="stylesheet" href="/css/radio.css" />
    <link rel="stylesheet" href="/css/grid.css" />
    <link rel="stylesheet" href="/css/alert.css" />
    <link rel="stylesheet" href="/css/loader.css" />
    <link rel="stylesheet" href="/css/page.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/list-view.css" />
    <link rel="stylesheet" href="/css/table.css" />
    <link rel="stylesheet" href="/css/list-detail.css" />
    <link rel="stylesheet" href="/css/data-list.css" />
    <link rel="stylesheet" href="/css/button.css" />
    <link rel="stylesheet" href="/css/search.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/navigation.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/dark.css" />
    <!--
    manifest.json provides metadata used when your web app is installed on a
    user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
  -->
    <link rel="manifest" href="/manifest.json" />
    <!--
    Notice the use of  in the tags above.
    It will be replaced with the URL of the `public` folder during the build.
    Only files inside the `public` folder can be referenced from the HTML.

    Unlike "/favicon.ico" or "favicon.ico", "/favicon.ico" will
    work correctly both with client-side routing and a non-root public URL.
    Learn how to configure a non-root public URL by running `npm run build`.
  -->
    <title>Website</title>
  </head>
  <body id="sysBody" class="full-header top-menu">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="sysToast" class="toast-message alert-success"></div>
    <div id="sysLoading" class="loader-wrapper" style="display: none">
      <div class="loader-sign">
        <div class="loader"></div>
        <!-- <div class="loader-text">Please wait</div> -->
      </div>
    </div>
    <div id="sysAlert" class="alert-wrapper">
      <div class="alert">
        <div>
          <div id="sysIcon" class="alert-icon"></div>
          <h4 id="sysMessageHeader"></h4>
          <p id="sysMessage"></p>
        </div>
        <footer>
          <button type="button" class="btn-cancel" id="sysNo" name="btnCancel" onclick="noOnClick()"></button
          ><button type="submit" class="btn-accept" id="sysYes" name="btnAccept" onclick="yesOnClick()"></button>
        </footer>
      </div>
    </div>
    <div id="root">
      <div class="sidebar-parent menu-on">
        <div class="top-banner">
          <div class="logo-banner-wrapper">
            <img src="https://jacobspradlin.files.wordpress.com/2014/10/banner-people-connected.png" alt="Banner of The Company" />
            <img src="https://jacobspradlin.files.wordpress.com/2014/10/banner-people-connected.png" class="banner-logo-title" alt="Logo of The Company" />
          </div>
        </div>
        <div class="menu sidebar">{% include "partials/navigation.html" %}</div>
        <div class="page-container">
          {% include "partials/header.html" %}
          <div class="page-body">{% block content %}{% endblock %}</div>
        </div>
      </div>
    </div>
    <!--
    This HTML file is a template.
    If you open it directly in the browser, you will see an empty page.

    You can add webfonts, meta tags, or analytics to this file.
    The build step will place the bundled scripts into the <body> tag.

    To begin the development, run `npm start` or `yarn start`.
    To create a production bundle, use `npm run build` or `yarn build`.
  -->
    <script src="/static/script.js" data-nscript="afterInteractive"></script>
  </body>
</html>
