.scroll-view {
  position: relative;
}
.scroll-view > button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
.scroll-view:hover > button {
  display: flex;
}

.list {
  margin: 0;
}
.search-body .list:last-child {
  margin-bottom: 16px;
}
.list.horizon {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  overflow-x: auto;
  margin: 16px;
}
.list > li {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  border: 0;
  border-bottom: 1px solid #ebebeb;
}
ul.list > li {
  display: flex;
  flex-direction: column;
}

.card-grid,
.list.row.card-grid {
  margin-top: 12px;
  margin-bottom: 0;
}
.list.row {
  padding: 0 8px;
}
ul.list.row > li.col {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  border: none;
}
ul.list.row > li.col > h3,
ul.list.row > li.col > h4,
ul.list.row > li.col > a,
ul.list.row > li.col > p {
  width: calc(100% - 16px);
}

.list-item {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #ebebeb;
}

.list-item,
.img-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 8px;
}

.list-item > p,
.img-item > p {
  margin-block-end: 0;
  padding-top: 2px;
  padding-bottom: 8px;
}
.list-item p {
  font-size: 14px;
}
.img-item > p {
  font-size: 16px;
}
.small.img-item > p {
  font-size: 14px;
}

.list-item > .btn-detail,
.img-item > .btn-detail {
  position: absolute;
  right: 8px;
  top: 12px;
}
.list-item > .btn-detail,
.small.img-item > .btn-detail {
  top: 8px;
}

.list-item > *:last-child,
.img-item > *:last-child {
  border-bottom: 1px solid #ebebeb;
}
.list-item > *:last-child {
  min-height: 30px;
}
.small.img-item > *:last-child {
  min-height: 30px;
}
.img-item > *:last-child {
  min-height: 33px;
}

.img-item > img {
  position: absolute;
  left: 8px;
  width: 56px;
  height: 56px;
}
.small.img-item > img {
  width: 48px;
  height: 48px;
}
.img-item > input[type="checkbox"]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id*="lightbox-"]) {
  position: absolute;
  left: 8px;
}

.img-item > h3,
.img-item > a {
  font-size: 18px;
  font-weight: 500;
  min-height: 31px;
  padding-top: 6px;
  margin-bottom: 0;
}
.img-item > h3 {
  height: unset;
  background-color: inherit;
}
.list-item > a,
.list-item > h4,
.small.img-item > a,
.img-item > h4,
.img-card > h4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: 500;
}
.img-item > h4,
.small.img-item > a {
  padding-top: 2px;
}
.img-item > h4 {
  padding-bottom: 0;
}
.list-item > h4,
.list-item > a,
.small.img-item > a,
.small.img-item > h4 {
  min-height: 26px;
}
.img-item > a,
.img-item > h3,
.img-item > h4,
.img-item > p {
  padding-left: 68px;
}
.small.img-item > a,
.small.img-item > h3,
.small.img-item > h4,
.small.img-item > p {
  padding-left: 56px;
}

.video-container > h3,
.img-card > h3,
.card > section > h3 {
  font-size: 18px;
  font-weight: 500;
  background-color: inherit;
}
.video-container > h3,
.video-container > h4 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.detail-content > form > div.video-container {
  padding: 12px;
}
.video-container > h4 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

li.video > section > h4,
li.video > section > a {
  width: calc(100% - 16px);
  margin: 8px;
  font-size: 16px;
  font-weight: 500;
}

ul.list > li > section:first-child > div > p {
  overflow: hidden;
}

.card,
.video {
  margin-bottom: 16px;
}

.card > header {
  position: relative;
  margin-bottom: 16px;
  width: 100%;
  height: 60px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px -6px rgba(5, 5, 5, 0.34);
}
.card > header * {
  padding-right: 6px;
}
.card > header > .btn-edit {
  position: absolute;
  right: 16px;
  padding-right: 0;
}

.card > footer {
  width: 100%;
  height: 64px;
  margin-top: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card > footer > button.btn-cancel,
.card > footer > button {
  min-width: 110px;
  height: 36px;
  margin-left: 6px;
  margin-right: 6px;
  padding-left: 0 !important;
  padding-right: 0;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
  background-color: inherit;
  border: 1px solid;
  background: none;
}

.card > textarea {
  margin-bottom: 8px;
  margin-left: 16px;
  margin-right: 16px;
  width: calc(100% - 32px);
}
.card > section > hr,
.card > hr {
  width: calc(100% - 32px);
  margin-left: 16px;
  margin-right: 16px;
}

.card > section,
.video > section {
  flex: 1 1 auto;
  flex-direction: column;
  border: 1px solid #ebebeb;
}
.video > section:first-child,
.card > section:first-child {
  width: calc(100% - 16px);
  display: flex;
  align-items: center;
  margin: 0 16px;
}

.card > section > label.checkbox-container {
  margin-left: 16px;
  width: calc(100% - 32px);
  height: 40px;
  padding-left: 22px;
}
.card > section > label.checkbox-container > input[type="checkbox"]:not(.modal-trigger):not(.toggle):not(#alert-check):not([id*="lightbox-"]) {
  left: 0;
  top: 16px;
}
.card > .item {
  position: relative;
  margin-bottom: 16px;
}
.card > .item > .btn-remove {
  position: absolute;
  top: 8px;
  right: 18px;
}
.card .item .btn-group {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 16px;
}
.card .item .btn-group > .btn-add {
  width: 22px;
  height: 22px;
  margin: -2px 8px 0 0;
  border: 1px solid;
  border-radius: 22px;
}
.card .item .btn-group > .btn-add::before {
  font-size: 22px;
  font-weight: 100;
  content: "\2B";
  top: -4px;
  left: 4px;
}
.card .item > .form-group > .form-control {
  margin-left: 16px;
  width: calc(100% - 32px);
}

.video p,
.card p {
  font-size: 14px;
  font-weight: 400;
}
.card p.article-meta {
  font-size: 16px;
}
.card p.icon-text {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
  width: calc(100% - 32px);
  margin: 0 16px 8px 16px;
}
p.icon-text:last-child {
  padding-bottom: 16px;
}
.icon-text .material-icons {
  font-size: 20px;
}

.video-container > p,
.card > section > p,
.video > section > p,
.video > p,
.card > p {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: 16px;
  margin-right: 16px;
}

.card > section > h3,
.card > section > h4,
.card > section > a,
.card > section > p,
.video > section > p {
  width: calc(100% - 32px);
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 8px;
}
.card > section > h3:first-child,
.card > section > h4:first-child,
.card > section > a:first-child {
  margin-top: 16px;
}
.card > section > p:last-child,
.card > p:last-child,
.video > p:last-child {
  margin-bottom: 16px;
}
.card > section > a {
  font-size: 16px;
  font-weight: 600;
}
.card > section > p > a,
.video > section > p > a {
  font-size: inherit;
  font-weight: inherit;
}

.card .cover,
.video .cover {
  margin-top: 0;
}
.card .cover,
.video .cover {
  position: relative;
  flex: none;
  width: 100%;
  height: 220px;
  margin-bottom: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.video > section:first-child {
  padding-bottom: 24px;
}

.horizon > .video {
  margin: 0 8px 4px 0;
  padding-top: 0;
  border: 1px solid #ebebeb;
  padding-bottom: 24px;
}
.horizon > .video:last-child {
  margin-right: 0;
}
.horizon > .video > .cover {
  width: 300px;
  height: 168px;
}

.video > section:first-child > p:last-child,
.video > p:last-child {
  position: absolute;
  bottom: 8px;
}

.horizon > .video > h3,
.horizon > .video > h4,
.horizon > .video > a {
  width: 100%;
  padding: 10px 8px;
}

.horizon > li.video > h4,
.horizon > li.video > a,
.video-container > h4,
.video-container > h4 > a,
.video-container > h4 > i {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  margin-left: 0;
}

i.date {
  font-style: normal;
}

.horizon > .video > p {
  padding: 0 8px;
}
.horizon > .video > .cover > i:first-child {
  right: 6px;
}

.video > section:first-child > .title {
  cursor: pointer;
}
.video > section:first-child > .title:hover {
  text-decoration: underline;
}
.cover > img {
  height: 100%;
  width: 100%;
}

.cover > i:first-child,
.video .cover > p:last-child {
  position: absolute;
  border-radius: 8px;
  right: 12px;
  bottom: 12px;
  padding: 1px 8px;
  margin: 0;
  width: unset;
  opacity: 0.88;
  background: #000;
  color: #fff;
}
.cover > i:first-child {
  top: 12px;
  bottom: unset;
  padding: 4px 8px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  opacity: 0.8;
}

.img-card {
  margin-bottom: 16px;
}
.img-card > *,
.img-card > h4 {
  margin-bottom: 8px;
}
.img-card > *:last-child {
  margin-bottom: 0;
}
.img-card > img {
  max-width: calc(100% - 16px);
  height: auto;
  margin-bottom: 16px;
}
.img-card > p {
  font-size: 14px;
  font-weight: 400;
}
.img-card > h4.center,
.img-card > p.center {
  justify-content: center;
}

.card > section > p,
.video > section > p,
.video > p,
.img-card > p,
.horizon > li > a,
.img-item > h3,
.img-item > h4,
.img-item > a,
.img-item > p,
.list-item > h3,
.list-item > h4,
.list-item > a,
.list-item > p {
  color: inherit;
}

.list-container .list.row {
  padding: 0 4px;
}
ul.list .check-item {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 500;
}
ul.list > .check-item > p {
  font-size: inherit;
  margin-left: 24px;
  padding-top: 10px;
  margin-bottom: 7px;
}
ul.list > .check-item.header {
  margin-bottom: 4px;
}
ul.list > .check-item.header > p {
  font-size: inherit;
  margin-left: 22px;
  font-weight: 600;
}
