<div class="view-container">
  <header>
    <h2>Careers</h2>
    <div class="btn-group">
      <button type="button" id="btnTable" name="btnTable" class="btn-table" data-view="table"></button><a id="btnNew" class="btn-new" href="new"></a>
    </div>
  </header>
  <div>
    <form id="jobsForm" name="jobsForm" novalidate="">
      <section class="row search-group">
        <label class="col s12 m6 search-input">
          <select>
            <option value="12">12</option>
            <option value="24" selected="">24</option>
            <option value="60">60</option>
            <option value="100">100</option>
            <option value="120">120</option>
            <option value="180">180</option>
            <option value="300">300</option>
            <option value="600">600</option>
          </select>
          <input id="q" maxlength="255" placeholder="Keyword" type="text" value="" name="q" />
          <button type="button" hidden="" class="btn-remove-text"></button>
          <button type="button" class="btn-filter"></button>
          <button type="submit" class="btn-search"></button>
        </label>
      </section>
    </form>
    <form class="list-result">
      <ul class="row list-view">
        {% for item in list %}
        <li class="col s12 m6 l4 xl3">
          <section>
            <div>
              <h4>
                <a href="/careers/{{item.id}}">{{item.title}}</a>
                <span>{{item.quantity}}</span>
              </h4>
              <p>
                {{item.location}}
                <span>{{item.publishedAt}}</span>
              </p>
            </div>
          </section>
        </li>
        {% endfor %}
      </ul>
    </form>
  </div>
</div>
