<div class="view-container">
  <form id="contactForm" name="contactForm">
    <header><h2>{{ resource.contact }}</h2></header>
    <div class="row">
      <label class="col s12 m6 required invalid">
        {{ resource.fullname }}
        <input type="text" id="name" name="name" value="{{contact.name}}" maxlength="100" required="true" placeholder="{{ resource.fullname }}" />
        <span class="span-error">Full Name is required.</span>
      </label>
      <label class="col s12 m6 required">
        {{ resource.country }}
        <input type="text" id="country" name="country" value="{{contact.country}}" value="" maxlength="100" required placeholder="{{ resource.country }}" />
      </label>
      <label class="col s12 m6 required">
        {{ resource.company }}
        <input type="text" id="company" name="company" value="{{contact.company}}" maxlength="100" required placeholder="{{ resource.company }}" />
      </label>
      <label class="col s12 m6">
        {{ resource.job_title }}
        <input type="text" id="jobTitle" name="jobTitle" value="{{contact.jobTitle}}" maxlength="100" required placeholder="{{ resource.job_title }}" />
      </label>
      <label class="col s12 m6 required">
        {{ resource.email }}
        <input type="text" id="email" name="email" value="{{contact.email}}" data-type="email" required maxlength="120" placeholder="{{ resource.email }}" />
      </label>
      <label class="col s12 m6 required">
        {{ resource.phone }}
        <input type="tel" id="phone" name="phone" value="{{contact.phone}}" required maxlength="17" placeholder="{{ resource.phone }}" />
      </label>
      <label class="col s12 m12">
        {{ resource.message }}
        <textarea id="message" name="message" maxlength="400" placeholder="{{ resource.message }}">{{contact.message}}</textarea>
      </label>
    </div>
    <footer><button type="submit" id="btnSubmit" name="btnSubmit">{{ resource.submit }}</button></footer>
  </form>
</div>
