<div class="view-container">
  <header><h2>Leadership</h2></header>
  <div>
    <h3>Board Of Management</h3>
    <ul class="row list-view">
      <div class="col s6 m4 l3 img-card">
        <img src="https://fptsoftware.com/-/media/project/fpt-software/fso/uplift/board-of-management/board-of-management/chu-thi-thanh-ha.webp" />
        <h4 class="center">Chu Thi Thanh Ha</h4>
        <p class="center">Chairwoman, FPT Software</p>
      </div>
      <div class="col s6 m4 l3 img-card">
        <img src="https://fptsoftware.com/-/media/project/fpt-software/fso/uplift/board-of-management/board-of-management/pham-minh-tuan.webp" />
        <h4 class="center">Pham Minh Tuan</h4>
        <p class="center">Chief Executive Officer, FPT Software</p>
      </div>
      <div class="col s6 m4 l3 img-card">
        <img src="https://fptsoftware.com/-/media/project/fpt-software/fso/uplift/board-of-management/board-of-management/nguyen-khai-hoan.webp" />
        <h4 class="center">Nguyen Khai Hoan</h4>
        <p class="center">Chief Operating Officer</p>
      </div>
      <div class="col s6 m4 l3 push-m4 img-card">
        <img src="https://fptsoftware.com/-/media/project/fpt-software/fso/uplift/board-of-management/board-of-management/dao-duy-cuong.webp" />
        <h4 class="center">Dao Duy Cuong</h4>
        <p class="center">Chief Technology Officer</p>
      </div>
    </ul>
    <h3>Global Management</h3>
    <ul class="row list-view">
      <div class="col s6 m4 l3 img-card">
        <img src="https://fptsoftware.com/-/media/project/fpt-software/fso/uplift/board-of-management/board-of-management/do-van-khac.webp" />
        <h4 class="center">Do Van Khac</h4>
        <p class="center">Chief Executive Officer, FPT Japan</p>
      </div>
      <div class="col s6 m4 l3 img-card">
        <img src="https://fptsoftware.com/-/media/project/fpt-software/fso/uplift/board-of-management/board-of-management/dang-tran-phuong.webp" />
        <h4 class="center">Dang Tran Phuong</h4>
        <p class="center">Chief Executive Officer, FPT Software America</p>
      </div>
      <div class="col s6 m4 l3 img-card">
        <img src="https://fptsoftware.com/-/media/project/fpt-software/fso/uplift/board-of-management/board-of-management/mark-scrivens.webp" />
        <h4 class="center">Mark Scrivens</h4>
        <p class="center">Chief Executive Officer, FPT Software United Kingdom</p>
      </div>
      <div class="col s6 m4 l3 push-m4 img-card">
        <img src="https://fptsoftware.com/-/media/project/fpt-software/fso/uplift/board-of-management/board-of-management/christophe-schwanegel.webp" />
        <h4 class="center">Christophe Schwanengel</h4>
        <p class="center">Chief Executive Officer, FPT Software France</p>
      </div>
    </ul>
  </div>
</div>
