<div>
  <header><h1>Leadership</h1></header>
  <div>
    <h2>Board Of Management</h2>
    <ul class="row list">
      <li class="col s6 m4 l3 img-card">
        <img
          src="https://fptsoftware.com/-/media/project/fpt-software/fso/uplift/board-of-management/board-of-management/chu-thi-thanh-ha.webp"
        />
        <h3 class="center">Chu Thi Thanh Ha</h3>
        <p class="center">Chairwoman, FPT Software</p>
      </li>
      <li class="col s6 m4 l3 img-card">
        <img
          src="https://fptsoftware.com/-/media/project/fpt-software/fso/uplift/board-of-management/board-of-management/pham-minh-tuan.webp"
        />
        <h3 class="center">Pham Minh Tuan</h3>
        <p class="center">Chief Executive Officer, FPT Software</p>
      </li>
      <li class="col s6 m4 l3 img-card">
        <img
          src="https://fptsoftware.com/-/media/project/fpt-software/fso/uplift/board-of-management/board-of-management/nguyen-khai-hoan.webp"
        />
        <h3 class="center">Nguyen Khai Hoan</h3>
        <p class="center">Chief Operating Officer</p>
      </li>
      <li class="col s6 m4 l3 push-m4 img-card">
        <img
          src="https://fptsoftware.com/-/media/project/fpt-software/fso/uplift/board-of-management/board-of-management/dao-duy-cuong.webp"
        />
        <h3 class="center">Dao Duy Cuong</h3>
        <p class="center">Chief Technology Officer</p>
      </li>
    </ul>
    <h2>Global Management</h2>
    <ul class="row list">
      <li class="col s6 m4 l3 img-card">
        <img
          src="https://fptsoftware.com/-/media/project/fpt-software/fso/uplift/board-of-management/board-of-management/do-van-khac.webp"
        />
        <h3 class="center">Do Van Khac</h3>
        <p class="center">Chief Executive Officer, FPT Japan</p>
      </li>
      <li class="col s6 m4 l3 img-card">
        <img
          src="https://fptsoftware.com/-/media/project/fpt-software/fso/uplift/board-of-management/board-of-management/dang-tran-phuong.webp"
        />
        <h3 class="center">Dang Tran Phuong</h3>
        <p class="center">Chief Executive Officer, FPT Software America</p>
      </li>
      <li class="col s6 m4 l3 img-card">
        <img
          src="https://fptsoftware.com/-/media/project/fpt-software/fso/uplift/board-of-management/board-of-management/mark-scrivens.webp"
        />
        <h3 class="center">Mark Scrivens</h3>
        <p class="center">Chief Executive Officer, FPT Software United Kingdom</p>
      </li>
      <li class="col s6 m4 l3 push-m4 img-card">
        <img
          src="https://fptsoftware.com/-/media/project/fpt-software/fso/uplift/board-of-management/board-of-management/christophe-schwanegel.webp"
        />
        <h3 class="center">Christophe Schwanengel</h3>
        <p class="center">Chief Executive Officer, FPT Software France</p>
      </li>
    </ul>
  </div>
</div>
