<div>
  <header><h1>Milestones</h1></header>
  <div>
    <dl class="data-list row">
      <dt class="col s2 l1 right-align">1999</dt>
      <dd class="col s10 l11">FPT Software was founded in 1999 by 13 members of FPT Group, led by Nguyen Thanh Nam</dd>
      <dt class="col s2 l1 right-align">2005</dt>
      <dd class="col s10 l11">Opened the overseas branch in Japan.</dd>
      <dt class="col s2 l1 right-align">2007</dt>
      <dd class="col s10 l11">Opened our office in Singapore and exceeded US $10 million in profits</dd>
      <dt class="col s2 l1 right-align">2008</dt>
      <dd class="col s10 l11">Expanded global operations to the United States, France, Australia and Malaysia</dd>
      <dt class="col s2 l1 right-align">2012</dt>
      <dd class="col s10 l11">Opened the first office in Germany.</dd>
      <dt class="col s2 l1 right-align">2013</dt>
      <dd class="col s10 l11">FPT Software crossed the US $100 million in revenue by end of 2013</dd>
      <dt class="col s2 l1 right-align">2014</dt>
      <dd class="col s10 l11">Acquired RWE IT Slovakia - became the first Vietnamese IT company to conduct an overseas M&amp;A deal</dd>
      <dt class="col s2 l1 right-align">2016</dt>
      <dd class="col s10 l11">Exceeded US $200 million in revenue and 10,000 employees. FPT Korea was established</dd>
      <dt class="col s2 l1 right-align">2018</dt>
      <dd class="col s10 l11">
        FPT bought a majority stake in Intellinet, expanding footprint in the American market and elevating our digital transformation
        leadership
      </dd>
      <dt class="col s2 l1 right-align">2022</dt>
      <dd class="col s10 l11">Achieved over US $800mil in revenue (third consecutive year with a growth rate of over 25%)</dd>
      <dt class="col s2 l1 right-align">2023</dt>
      <dd class="col s10 l11">Achieved over US $1 billion in revenue</dd>
    </dl>
  </div>
</div>
