<div>
  <header><h1>Services</h1></header>
  <div>
    <h4>FPT specializes in creating software solutions for various industries - spanning different levels and requirements.</h4>
    <ul class="row list">
      <li class="col s6 l3 img-card">
        <img
          src="https://fptsoftware.com/-/media/project/fpt-software/fso/services/product-engineering-services/automative-services/auto-services-lp_banner-mobile.webp"
        />
        <h3>Software Development</h3>
        <p>
          Develop software on a wide range of platforms, from full stack (GO, Java, .NET, Java Script, PHP &amp; Python) to mobile
          application (Native and Cross-Platform)​
        </p>
      </li>
      <li class="col s6 l3 img-card">
        <img
          src="https://fptsoftware.com/-/media/project/fpt-software/fso/services/product-engineering-services/vehicle-engineering-cad-cae-services/vehicle-engineering-lp_banner-1_mobile.png"
        />
        <h3>Software Testing</h3>
        <p>
          With our purpose-built teams, we offer 15+ years of testing knowledge and expertise. We can support your existing teams or work as
          your dedicated QA team.
        </p>
      </li>
      <li class="col s6 l3 img-card">
        <img src="https://fptsoftware.com/-/media/project/fpt-software/fso/industries/logistics/750x1000-min.png" />
        <h3>Data Services</h3>
        <p>
          Data integrity is critical. We provide end-to-end support for data integrity and analytics, ensuring that data is clean, accurate,
          and prepared to flow seamlessly through your pipeline.
        </p>
      </li>
      <li class="col s6 l3 img-card">
        <img src="https://fptsoftware.com/-/media/project/fpt-software/fso/industries/automotive/automotive-lp_banner-3_mobile.png" />
        <h3>AI &amp; Machine Learning</h3>
        <p>
          We help our clients leverage emerging technologies like artificial intelligence (AI) and machine learning (ML) to enhance their
          software products, from the data preparation process to the development of best-in-class ML algorithms. We guarantee the highest
          engineering quality and transparent communication along your entire AI / ML journey.
        </p>
      </li>
    </ul>
  </div>
</div>
